<hr/>

<div class='col-lg-6'>
    <h3>login</h3>
    <label class='login'>Email</label>
    <input type='text' class='form-control login' placeholder='Email Address' ng-model="login.email"/>
    <label class='login'>Password</label>
    <input type='password' class='form-control login' placeholder='Password'  ng-model="login.password"/>  
    <div ng-show="login.invalid">
        <div class="alert alert-danger">Invalid Password</div>
    </div>
    <a class='btn btn-primary btn-lg' href='#/' ng-click='login.validate()'>Login</a>
    <span>New user? <a href="#/register">sign up</a></span>
</div>